{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welchen Snack wählst du?
{% endblock %}

{% block styles %}
<style type="text/css">
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:8px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:8px solid #f00;
}
</style>
{% endblock %}

{% block content %}
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->


<input type="hidden" name="offer_1" value="{{snack1}}" id="offer_1"/>
<input type="hidden" name="offer_2" value="{{snack2}}" id="offer_2"/>

<form>

<label for="s1">
  {{image1 | safe}}
  <img src="{% static image_path1 %}">
</label>

<label for="s2">
  {{image2 | safe}}
  <img src="{% static image_path2 %}">
</label>

</form>
{{ form.errors }}


    {% next_button %}

{% endblock %}
