{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welchen Snack wählst du?
{% endblock %}

{% block content %}
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<img src="{% static image_path1 %}"/>
<input type="hidden" name="offer_1" value="{{snack1}}" id="offer_1"/>
<img src="{% static image_path2 %}"/>
<input type="hidden" name="offer_2" value="{{snack2}}" id="offer_2"/>






<br />
<br />
{% formfield player.decision with label=label %}



    {% next_button %}

{% endblock %}
