{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stufe 4: Ende und Auszahlung
{% endblock %}

{% block content %}

Die Basis-Vergütung für pünktliches Erscheinen beträgt 10 €. <br />
Die für Sie zufällig ausgewählte Stufe ist Stufe {{step}}. <br />
Der aus Stufe {{step}} zufällig gezogene Snack ist {{random_snack}}. <br />


<br />
<input type="hidden" name="rand_snack" value="{{random_snack}}" id="rand_snack"/>
<input type="hidden" name="rand_price" value="{{random_price}}" id="rand_price"/>

{% if step = 1 %}
  Der zufällig generierte Preis dafür ist: {{random_price}} € <br />
  Ihre Zahlungsbereitschaft in Stufe 1 für diesen Snack war: {{participant_WTP}} € <br />
  {% if participant_WTP >= random_price %}
    Der Snack wird Teil Ihrer Auszahlung. Ihr Budget von 5 € verringert sich dadurch um {{random_price}} €. <br />
    Sie erhalten im Anschluss den zufällig gewählten Snack sowie insgesamt eine Auszahlung von {{payoff_with_snack}} €.
      <input type="hidden" name="payout1" value="{{random_snack}}" id="payout1"/>
      <input type="hidden" name="payout2" value="{{payoff_with_snack}}" id="payout2"/>
    {% else %}
      Der Snack wird nicht Teil Ihrer Auszahlung, da dessen Preis Ihre Zahlungsbereitschaft übersteigt. <br />
      Ihre Auszahlung beträgt daher insgesamt {{payoff_without_snack}} €.
      <input type="hidden" name="payout1" value="-" id="payout1"/>
      <input type="hidden" name="payout2" value="{{payoff_without_snack}}" id="payout2"/>
  {% endif %}
{% endif %}

{% if step = 2 %}
  Sie erhalten damit insgesamt den Snack sowie eine Auszahlung von {{payoff_with_snack}} €.
  <input type="hidden" name="payout1" value="{{random_snack}}" id="payout1"/>
  <input type="hidden" name="payout2" value="{{payoff_with_snack}}" id="payout2"/>
{% endif %}

{% if step = 3 %}
  Sie erhalten damit insgesamt den Snack sowie eine Auszahlung von {{payoff_with_snack}} €.
  <input type="hidden" name="payout1" value="{{random_snack}}" id="payout1"/>
  <input type="hidden" name="payout2" value="{{payoff_with_snack}}" id="payout2"/>
{% endif %}

{% if step = 4 %}
  Der zufällig generierte Preis dafür ist: {{random_price}} € <br />
  Ihre Zahlungsbereitschaft in Stufe 4 für diesen Snack war: {{participant_WTP}} € <br />
  {% if participant_WTP >= random_price %}
    Der Snack wird Teil Ihrer Auszahlung. Ihr Budget von 5 € verringert sich dadurch um {{random_price}} €. <br />
    Sie erhalten im Anschluss den zufällig gewählten Snack sowie insgesamt  eine Auszahlung von {{payoff_with_snack}} €.
      <input type="hidden" name="payout1" value="{{random_snack}}" id="payout1"/>
      <input type="hidden" name="payout2" value="{{payoff_with_snack}}" id="payout2"/>
    {% else %}
      Der Snack wird nicht Teil Ihrer Auszahlung, da dessen Preis Ihre Zahlungsbereitschaft übersteigt. <br />
      Ihre Auszahlung beträgt daher insgesamt {{payoff_without_snack}} €.
      <input type="hidden" name="payout1" value="-" id="payout1"/>
      <input type="hidden" name="payout2" value="{{payoff_without_snack}}" id="payout2"/>
  {% endif %}
{% endif %}
<br />
<br />
<br />
<b>Wichtig:</b> Bitte klicken Sie weiter, um das Experiment zu beenden.<br />
Wenn alle Teilnehmer das Experiment beendet haben, ruft der Experimentator Sie auf.<br />
<br />
    {% next_button %}
{% endblock %}
