{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stufe 1: Kontrollfragen
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

{% formfield player.control_1 %}
<br />
<h3>Welche der folgenden Aussagen zu Stufe 1 und 4 sind korrekt?</h3>
<br />
{% formfield player.control_2 %}
{% formfield player.control_3 %}
{% formfield player.control_4 %}
{% formfield player.control_5 %}
{% formfield player.control_6 %}
{% formfield player.control_7 %}

<br />
<br />

    {% next_button %}

{% endblock %}
