{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stufe 1: Bitte warten
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

Es geht weiter, wenn alle Teilnehmer die Kontrollfragen beantwortet haben.
<br />
<br />

<!-- {% next_button %} -->
{% next_button %}
{% endblock %}
